.markdown-body img {
    width: 100%
}

.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root {
    border: 1px #0084D7 solid;
}

.generated-message {
    color: #0084D7
}

.MuiButtonBase-root.MuiButtonBase-root.css-1vhtqje {
    background-color: #edf3f8;
    color: #91b3d6
}

.MuiButtonBase-root.MuiButton-root.css-1ruedog {
    border: 1px solid #0084D7;
    color: #5285be
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiAvatar-fallback.css-13y7ul3 {
    color: #4f83bd
}

.image-banner {
    background: url("/public/images/banner_blank.png") center center / cover no-repeat;
    color: white;
    min-height: 15em;
}

